body{
    margin:0;
    font-family: 'Georgia', serif;
    background: linear-gradient(to bottom,#f8f9fb,#eaeef6);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    width:400px;
    background:white;
    text-align:center;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.cap{
    width:80px;
    margin-bottom:15px;
}

h3{
    font-weight:normal;
    color:#444;
}

.invite{
    color:#777;
    margin-top:10px;
}

h1{
    font-size:38px;
    font-family:cursive;
    margin:10px 0;
}

h2{
    font-size:24px;
    margin-bottom:20px;
}

.text{
    font-size:15px;
    color:#666;
    line-height:1.6;
}

.details{
    margin-top:20px;
    font-size:16px;
}

.location{
    margin-top:25px;
    font-weight:bold;
}
